<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Retsepti Nimi</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="brn-group">
            <button 
                type="button" 
                class="btn btn-primary dropdown-toggle">
                Manageeri retsepti <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Ostunimekiri</a></li>
                <li><a href="#">Muuda retsepti</a></li>
                <li><a href="#">Kustuta retsepti</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Kirjeldus
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Koostisosad
    </div>
</div>